.postFeed{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.imgPost {
    max-height: none;
    max-width: 400px;
    min-height: 200px;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    padding:.5%;
    margin: 5px;
}

.imgPost__img {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    overflow: hidden;
    justify-content: center;
}

.textPost{
    max-height: none;
    max-width: 400px;
    min-height: none;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    padding:.5%;
    margin: 5px;
}

.titleStyle{
    text-align: center;
    text-transform: uppercase;
}