.profileContainer {
    width: 100%;
    display:flex;
}

.postFeed{
    justify-self: left;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 70%;
}

.imgPost {
    max-height: none;
    max-width: 400px;
    min-height: 200px;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    padding:.5%;
    margin: 10px;
}

.imgPost__img {
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    overflow: hidden;
    justify-content: center;
}

.textPost{
    max-height: none;
    max-width: 400px;
    min-height: none;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    padding:.5%;
    margin: 10px;
}

.titleStyle{
    text-align: center;
    text-transform: uppercase;
}

.sideProfile {
    width: 30%;
    justify-self: right;
    background-color: aqua;
}

.btnContainer {
    display: flex;
    align-self: right;
    justify-content: space-around;
    width: 20px;
    height: 30px;
    justify-self: right;
    margin-left: 30px;
}

.btn_edit {
    width: 35px;
    height: 20px;
}

.btn_delete {
    margin-left: 15px;
    width: 35px;
    height: 20px;
}

.link_styles {
    color:black;
    text-decoration: none;
}