.profilePostFeed{
    /*display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly; */
    column-count: 4;
    margin-top: 70px;
    width: 70%;
}

.profileImgPost {
    max-height: none;
    max-width: 400px;
    min-height: 200px;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    margin: 10px;
    break-inside: avoid;
}

.profileImgPost__img {
    justify-content: center;
    align-items: center;
    width: 250px;
    overflow: hidden;
    justify-content: center;
}

.profileTextPost{
    max-height: none;
    max-width: 250px;
    min-height: none;
    min-width: 200px;
    background-color:#F7F3FF;
    border-radius: 10px;
    padding: 1%;
    margin: 10px;
    break-inside: avoid;
}

.titleStyle{
    text-align: center;
    text-transform: uppercase;
}

.sideProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    justify-self: right;
    background-color: #F7F3FF;
    position: fixed;
    height: 100%;
    top:0;
    left:70%;
    z-index: 0;
}

.sideProfile__name{
    color: #3D304C;
}

.sideProfile__img{
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
    padding-right: 20px;
}

.btnContainer {
    display: flex;
    align-self: left;
    justify-content: space-around;
    width: 55px;
    height: 20px;
    font-size: 10px;
    margin-left: 0;
}

.btn_edit {
    width: 35px;
    height: 20px;
}

.btn_delete {
    margin-left: 15px;
    width: 35px;
    height: 20px;
}

.link_styles {
    color:black;
    text-decoration: none;
}