/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab:wght@300&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
input,
select {
  color: #404040;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/dot-grid.png");
  background-repeat: repeat;
}

body {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

textarea{
  resize: none;
  color: #404040;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 1.5em;
}

button {
  color: #404040;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight:bold;
  letter-spacing: 2px;
}

.title--main {
  margin-block-end: 0;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 1px solid #c6b1f0;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  background:   #c6b1f0;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #a08bc9;  
  }