.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: -webkit-sticky; /*sticky nav in safari*/
    position: sticky;
    top: 0px;
}
.navbar__item__logo {
    justify-content: center;
    flex-basis:20%;
    list-style-type: none;
}

.navbar__item__logo__img{
    height: 70px;
    justify-content: center;
}

.navbar_icon {
    width: 50px;
}

.link_styles {
    color:black;
    text-decoration: none;
}